*{
	padding:0;
	margin:0;	
}
html,body{
	height:100%;
	box-sizing:border-box;
}
html{
	font-size:100%
}
body{
	font-size:1em;
	font-family:微软雅黑;
}
.clear{
		clear:both;
	}
header{
	width:100%;
	height:4em;
	background-color:#000;
	position:fixed;
	opacity:0.3;
	z-index:100;
}
header:before,header:after{
	content:'';
	display:table;
	clear:both;
}
header .left{
	display:block;
	height:100%;
	width:8em;
	float:left;
	line-height:4em;
	text-align:center;
}
header .left a{
	color:#fff;
	font-size:2em;
	text-decoration:none;
	transition:all 0.3s ease-in-out;
}
header .left a:hover{
	color:green;
}
header .right{
	display:block;
	float:right;
}
header .right ul{
	display:block;
	list-style:none;
	height:4em;
}
header .right ul li{
	display:block;
	float:left;
	height:4em;
	line-height:4em;
	margin-right:0.8em;
}
header .right ul li a{
	color:#fff;
	font-size:1.2em;
	text-decoration:none;
	transition:all 0.3s ease-in-out;
}
header .right ul li a:hover{
	color:green;
}
header .small_right{
	display:none;
}
header .small_nav{
	display:none;
}
/*--------------------------header end-----------------------------*/
.banner{
	display:block;
	height:100%;
	width:100%;
	background-color:green;
}
.about{
	display:block;
	height:42em;
	width:100%;
	background-color:gray;
}
.contact{
	display:block;
	height:42em;
	width:100%;
	background-color:red;
}
.contact .left{
	display:block;
	height:100%;
	float:left;
	width:50%;
	background-color:#B3F5A6;
}
.contackt .right{
	display:block;
	height:100%;
	width:50%;
	float:right;
	background-color:#555F09;
}
.join{
	display:block;
	height:42em;
	width:100%;
	background-color:yellow;
}
/*-----------------------contact end-----------------------*/


.join .main{
	height:100%;
	width:55%;
	margin:0 auto;
}
.join .main .j_title{
	display:block;
	height:2em;
	width:90%;
	color:#fff;
	margin:0 auto;
	padding:0.6em 0;
	font-size:2em;
	text-align:center;
}
.join .main .j_title:after{
	content:'';
	display:block;
	height:0.1em;
	width:4em;
	background-color:red;
	margin:0 auto;
	margin-top:0.3em;
}
.join .main input{
	display:block;
	outline:none;
	width:48%;
	height:3em;
	border:1px solid #666;
	font-size:1.5em;
	margin-top:1em;
	color:#666;
}
.join .main select{
	display:block;
	outline:none;
	width:48%;
	height:3em;
	border:1px solid #666;
	font-size:1.5em;
	margin-top:1em;
	color:#666;
}
.join .main #name,.join .main #email{
	float:left;
}
.join .main #tel,.join .main #choose{
	float:right;
}
.join .main textarea{
	width:100%;
	height:10em;
	margin-top:1em;
	font-size:1.4em;
	color:#666;
}
.join .main button{
	display:block;
	width:100%;
	height:2em;
	border:1px solid #1562AD;
	font-size:1.3em;
	font-family:cursive;
	border-radius:30px;
	background-color:#0E577C;
	box-shadow:0 0 2px #1562AD;
	margin-top:1em;
}

/*-----------------------join end--------------------------*/
@media screen and (max-width:499px) {
	header .right{
		display:none;
	}
	header .small_right{
		display:block;
		height:3em;
		line-height:4em;
		float:right;
		color:#fff;
		margin-right:0.5em;
		margin-top:0.5em;
	}
	header .small_nav{
		display:block;
		height:0em;
		width:100%;
		opacity:0.3;
		transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out /* Firefox 4 */
		-webkit-transition:all 0.3s ease-in-out /* Safari and Chrome */
		-o-transition:all 0.3s ease-in-out; /* Opera */
		overflow:hidden;
	}
	header .small_nav ul{
		display:block;
		height:100%;
		width:100%;
	}
	header .small_nav ul li{
		display:block;
		height:25%;
		width:100%;
		line-height:5em;
		text-align:center;
		color:#fff;
		border-top:0.1em solid #fff;
		background-color:#000;
	}
	header .small_nav ul li a{
		text-decoration:none;
		color:#fff;
	}
	.contact .left,.contact .right{
		clear:both;
		width:100%;
		height:50%;
	}
	.join .main{
		width:100%;
	}
	.join .main .j_title{
		padding:0;
		font-size:2em;
		height:3em;
		width:79%;
	}
	.join .main input{
		width:95%;
		margin:0 auto;
		margin-top:1em;
		height:2em;
	}
	.join .main select{
		width:95%;
		margin:0 auto;
		margin-top:1em;
		height:2em;
	}
	.join .main #name,.join .main #email{
		float:none;
	}
	.join .main #tel,.join .main #choose{
		float:none;
	}
	.join .main select{
		width:95%;
		margin:0 auto;
		margin-top:1em;
	}
	.join .main textarea{
		width:95%;
		height:10em;
		margin:0 auto;
		margin-top:1em;
		font-size:1.4em;
		display:block;
	}
	.join .main button{
		width:90%;
		margin:0 auto;
		margin-top:1em;
	}
}
@media screen and (max-width:899px) and (min-width:500px){
	
	.join{
		height:28em;
	}
	.join .main{
		width:98%;
	}
	.join .main .j_title{
		padding:0;
		font-size:2em;
		height:2em;
		width:100%;
	}
	.join .main input{
		width:47%;
		margin:0 auto;
		margin-top:1em;
		height:2em;
	}
	.join .main select{
		width:47%;
		margin:0 auto;
		margin-top:1em;
		height:2em;
	}
	.join .main select{
		width:47%;
		margin:0 auto;
		margin-top:1em;
	}
	.join .main textarea{
		width:100%;
		height:8em;
		margin:0 auto;
		margin-top:1em;
		font-size:1.4em;
		display:block;
	}
	.join .main button{
		width:100%;
		margin:0 auto;
		margin-top:1em;
	}
}